:root {
  --white: whitesmoke;
  --pink: #fecafa;
  --blue: #2f4fda;
}

body {
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--pink);
}

h1 {
  font-weight: 900;
  color: var(--blue);
}

h2 {
  font-weight: 700;
}

img {
  width: 100%;
}

button {
  border: none;
  /* margin: 1rem; */
  cursor: pointer;
  font-size: 3.5rem;
  background: none;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.showcase {
  border-radius: 1rem;
  margin-block: 1rem;
  text-align: center;
  background: var(--white);
  overflow: hidden;

  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.1),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.072),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.06),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.05),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.04),
    100px 100px 80px rgba(0, 0, 0, 0.028);
}

.showcase h2 {
  margin-bottom: 0.5rem;
  background: var(--white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgWrapper {
  max-width: 500px;
  margin-inline: auto;
  overflow: none;
}

.toggleWrapper {
  display: flex;
  gap: 2rem;
}

.details {
  max-width: 500px;
  margin-inline: auto;
  margin-block: 1rem;
  background: whitesmoke;
  border-radius: 1rem;
  padding: 1rem;
}

.details p {
  margin-block: 1rem;
}

.details span {
  margin-right: 1rem;
  font-weight: bold;
}

.creatorAvatar {
  max-width: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
